* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

header {
  display: flex;
  align-items: center;

  div.logo {
    display: flex;
    flex: 5 1 400px;
    h4 {
      font-size: 1.25rem;
    }
  }

  nav {
    flex: 2 1 400px;
    div.hamburger-icon {
      position: absolute;
      right: 2px;
      top: 0%;
      cursor: pointer;
      font-weight: bold;
      color: #bbb;
      font-size: 1.3rem;
    }
    ul {
      display: flex;
      list-style-type: none;
      justify-content: flex-end;

      li {
        padding: 0.5vw;
        a {
          text-decoration: none;
          font-size: 1.25rem;
        }
      }
    }
  }
}

section.bgimg {
  width: 100%;
  height: 300px;
  background-color: rgb(227, 248, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 2.5rem;
  }
}

main {
  display: flex;
  justify-content: center;
  div.cards {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    justify-content: center;
    text-align: center;
    div.card {
      width: 25%;
      padding: 0.8rem;
      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  main {
    div.cards {
      div.card {
        width: 45%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  header {
    nav {
      ul {
        display: none;
      }
      div.hamburger-icon {
        display: flex;
      }
    }
  }
  main {
    div.cards {
      div.card {
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 1920px) {
  div.hamburger-icon {
    display: none;
  }
}

@media screen and (max-width: 435px) {
  section.bgimg {
    h2 {
      font-size: 2rem;
    }
  }
}
